html, body {
    font-family: Arial, sans-serif;
    height: 100%;
}

#logo{
    width: 70px;
    height: 45px;
}
.prodPhoto{
    width: 100px;
    height: 100px;
}

#stores_list {
    padding: 0px;
}

#rayon_categorie_navbar {
    margin-top: 140px;
    padding-left: 50px;
}

#container {
    margin-top: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.bold{
    font-weight:bold;
    font-size: 20px;
}
#points{
    /*width: 50%;*/
    /*float: right;*/
    /*margin-left: 50%;*/
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited { 
    color:#6610f2 !important;
    border-color: #6610f2 !important;
}

.btn-outline-primary:hover {
    border-color: #6610f2 !important;
    background-color: #6610f2 !important;
    color: #fff !important;
}

.row{
    align-content: flex-end !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #6610f2 !important;
}

#output, #search_result, .item {
    z-index: 7;
}

#view {
    overflow-y: hidden;
    width: 100%;
}
