<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectServlet</servlet-name>
        <servlet-class>com.jms.controller.ConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>basketPage</servlet-name>
        <jsp-file>/jsp/basket_page.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>com.jms.controller.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>com.jms.controller.DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsList</servlet-name>
        <jsp-file>/jsp/products_list.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendSearchRequestServlet</servlet-name>
        <servlet-class>com.jms.controller.SendSearchRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteSearchBarServlet</servlet-name>
        <servlet-class>com.jms.controller.CompleteSearchBarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.jms.controller.DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <servlet-class>com.jms.controller.ProductCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectServlet</servlet-name>
        <servlet-class>com.jms.controller.ConnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.jms.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LookBasketServlet</servlet-name>
        <servlet-class>com.jms.controller.LookBasketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnectServlet</servlet-name>
        <servlet-class>com.jms.controller.DeconnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>com.jms.controller.ValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseTimeSlotServlet</servlet-name>
        <servlet-class>com.jms.controller.ChooseTimeSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>com.jms.controller.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>navbar</servlet-name>
        <jsp-file>/jsp/navbar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>com.jms.controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyShoppinglLists</servlet-name>
        <jsp-file>/jsp/my_shopping_lists.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateShoppingList</servlet-name>
        <jsp-file>/jsp/create_shopping_list.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ShowShoppingList</servlet-name>
        <jsp-file>/jsp/show_shopping_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectServlet</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>basketPage</servlet-name>
        <url-pattern>/basketPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/DisplayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsList</servlet-name>
        <url-pattern>/ProductsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSearchRequestServlet</servlet-name>
        <url-pattern>/SendSearchRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteSearchBarServlet</servlet-name>
        <url-pattern>/CompleteSearchBarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/Department</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCategoryServlet</servlet-name>
        <url-pattern>/ProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectServlet</servlet-name>
        <url-pattern>/Connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LookBasketServlet</servlet-name>
        <url-pattern>/checkBasketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnectServlet</servlet-name>
        <url-pattern>/Deconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseTimeSlotServlet</servlet-name>
        <url-pattern>/ChooseTimeSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>navbar</servlet-name>
        <url-pattern>/navbar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyShoppinglLists</servlet-name>
        <url-pattern>/myShoppingLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateShoppingList</servlet-name>
        <url-pattern>/createShoppingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShoppingList</servlet-name>
        <url-pattern>/showShoppingList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
